{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GameStats</title>
    {#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <style>
        .banner-image {
            background-image: url('{% static "img/img2.jpg" %}');
            background-size: cover;
        }
    </style>
</head>
<body class="background-image">
{% include 'navbar.html' %}
<main>
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center text-white">
            {% block main_page %}
                <h1>Hi there!</h1>
                <p>That's my first Django Project, hope you like it :)</p>
                <p>First registered user will be SUPER user!</p>
                <p>Enjoy!</p>
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-success fw-bold" style="font-size: x-large">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>
    </div>
    <div id="mydata"></div>
    <!-- Main Content Area -->
    {% block content %}
    {% endblock %}
    <!-- End Of Main Content Area -->

</main>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
    const nav = document.querySelector('nav');

    window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
            nav.classList.add('bg-dark', 'shadow');
        } else {
            nav.classList.remove('bg-dark', 'shadow');
        }
    });
</script>
</body>
</html>