{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    {#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <style>
        .banner-image {
            background-image: url('{% static "img/img2.jpg" %}');
            background-size: cover;
        }
    </style>
</head>
<body class="background-image">
{% include 'navbar.html' %}
<main>
    <div
            class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
        <div class="content text-center text-white">
            {% block content %}
                <h1>Hi there!</h1>
                <p>That's my first Django Project, hope you like it :)</p>
                <p>Enjoy!</p>
            {% endblock %}
        </div>
    </div>

    <!-- Main Content Area -->
    <div class="container my-5 d-grid gap-5">
        <div class="p-5 border">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
                natus iusto fugit id saepe neque rerum magni laudantium accusantium
                dolorem numquam quasi.
            </p>
        </div>
        {#      <div class="p-5 border">#}
        {#        <p>#}
        {#          Lorem ipsum dolor sit amet consectetur adipisicing elit.#}
        {#          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores#}
        {#          natus iusto fugit id saepe neque rerum magni laudantium accusantium#}
        {#          dolorem numquam quasi.#}
        {#        </p>#}
        {#      </div>#}
        {#      <div class="p-5 border">#}
        {#        <p>#}
        {#          Lorem ipsum dolor sit amet consectetur adipisicing elit.#}
        {#          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores#}
        {#          natus iusto fugit id saepe neque rerum magni laudantium accusantium#}
        {#          dolorem numquam quasi.#}
        {#        </p>#}
        {#      </div>#}
        {#      <div class="p-5 border">#}
        {#        <p>#}
        {#          Lorem ipsum dolor sit amet consectetur adipisicing elit.#}
        {#          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores#}
        {#          natus iusto fugit id saepe neque rerum magni laudantium accusantium#}
        {#          dolorem numquam quasi.#}
        {#        </p>#}
        {#      </div>#}
        {#      <div class="p-5 border">#}
        {#        <p>#}
        {#          Lorem ipsum dolor sit amet consectetur adipisicing elit.#}
        {#          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores#}
        {#          natus iusto fugit id saepe neque rerum magni laudantium accusantium#}
        {#          dolorem numquam quasi. df#}
        {#        </p>#}
        {#      </div>#}
    </div>
</main>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
    var nav = document.querySelector('nav');

    window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
            nav.classList.add('bg-dark', 'shadow');
        } else {
            nav.classList.remove('bg-dark', 'shadow');
        }
    });
</script>
</body>
</html>