<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <p class="navbar-brand">
            {% if user.is_authenticated %} Hello  {{ user.username }}  !
                <a class="navbar-brand text-warning " style="margin: 0 40px" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="navbar-brand text-warning" href="{% url 'login' %}">Login</a>
            {% endif %}
        </p>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-warning" style="margin: 0 20px; font-size: 16px; font-weight: bolder"
                       href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'games_list' %}">Games</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">Add Games</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'players_list' %}">Players</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">Add Players</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'tanks_list' %}">Tanks</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">Add Tanks</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'clans_list' %}">Clans</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">Add Clans</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'teams_list' %}">Teams</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">Add Teams</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>